nav {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 99;
    /* this is to make sure the nav bar is always on top of other elements */

    #logo {
        float: left;
    }
    #theme-link {
        margin: 8px 20px;
        border-radius: 30px;
    }
    a {
        float: right;
        text-decoration: none;
        transition: 0.2s;

        &:link {
            color: snow;
        }
        &:visited {
            color: #eee;
        }
        &:hover:not(#theme-link) {
            background-color: red;
        }
        &:active:not(#theme-link) {
            transform: scale(0.6);
            background-color: darkred;
        }
    }
    a:not(#theme-link) {
        padding: 10px 20px;
    }
}
header {
    min-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, gray, transparent, gray);
    font-family: sans-serif;
}

#outlet {
    min-height: 70vh;
    padding: 50px;
}
