.main-posts-body {
    border-radius: 10px;
    padding-top: 5px;
    min-height: 60vh;
}
.accordion,
.accordion-item,
.accordion-collapse,
.collapse,
.accordion-body,
.show {
    background-color: #cccccc50;
}
form {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    background-color: #cccccc50;

    .form-control {
        background-color: #eeeeee50;
    }

    textarea,
    input {
        text-align: left;
        width: 100%;
        display: block;
        outline: none;
        border: none;
        background-color: rgb(169, 169, 169, 50);
        padding: 10px 20px;
        border-radius: 5px;

        &::placeholder {
            color: rgb(126, 126, 126, 50);
        }
        &:focus {
            background-color: rgb(208, 208, 208, 50);
        }
    }
    button {
        width: 100%;
        transition: 0.3s linear;
        outline: none;
        border: 1px solid green;
        padding: 10px 20px;
        display: block;
        border-radius: 5px;
        color: green;

        &:hover {
            cursor: pointer;
            background-color: green;
            color: snow;
        }
    }
    .error {
        color: red;
        font-family: cursive;
        font-style: italic;
    }
}

.all-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px 0;
}
@media (max-width: 768px) {
    .all-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .all-posts {
        grid-template-columns: 1fr;
    }
}

.page-item .page-link {
    background: linear-gradient(to right bottom, #00b09b, #96c93d);
    color: snow;
    transition: 0.2s;
    &:active {
        outline: 5px solid #00b09b80;
    }
    &:hover:not(.active .page-link) {
        background: linear-gradient(to right bottom, #00ffe1, #a2ff00);
        color: snow;
        transform: scale(1.1);
        z-index: 999;
        border: solid 1px #a2ff00;
    }
}
.disabled .page-link {
    background: linear-gradient(to right bottom, #00b09b50, #96c93d50);
}
.active .page-link {
    background: linear-gradient(to right bottom, #00ffe1, #a2ff00);
}
