.main-posts-body {
    background-color: #ccc;
    border-radius: 10px;
    padding-top: 5px;
}

form {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;

    textarea,
    input {
        text-align: left;
        width: 100%;
        display: block;
        outline: none;
        border: none;
        background-color: darkgray;
        padding: 10px 20px;
        border-radius: 5px;

        &::placeholder {
            color: gray;
        }
        &:focus {
            background-color: lightgray;
        }
    }
    button {
        width: 100%;
        transition: 0.3s linear;
        outline: none;
        border: 1px solid green;
        padding: 10px 20px;
        display: block;
        border-radius: 5px;
        color: green;

        &:hover {
            cursor: pointer;
            background-color: green;
            color: snow;
        }
    }
    .error {
        color: red;
        font-family: cursive;
        font-style: italic;
    }
}

.all-posts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
@media (max-width: 768px) {
    .all-posts {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .all-posts {
        grid-template-columns: 1fr;
    }
}
