$blue-light: #add8e6;
$green-yellow: #baed9d;
$green-light: #20ad85;
$green-dark: #55917f;
$white: #f4f6f6;
$gray-light: #cdcdcd;
$gray-medium: #a0aec0;
$gray-dark: #404759;
$black: #17242a;
$orange-light: #feebc8;
$yellow: #f6e05e;
$wrong: #ef2662;
$right: #2bcf95;
$warning: "orange";
$success: #47984b;
